appdirs==1.4.4
argcomplete==1.12.3
greenlet==1.1.2
numpy==1.21.5
ObjectListView==1.3.1
Pillow==8.4.0
pout==0.8.16
pyserial==3.5
python-escpos==2.2.0
pyusb==1.2.1
PyYAML==6.0
qrcode==7.3.1
six==1.16.0
SQLAlchemy==1.4.31
wxPython==4.1.1
